// -- VARIABLES --

$white95: #f2f2f2;
$white90: #e6e6e6;
$white80: #cccccc;
$white5: #0d0d0d;
$whiteTransparent: rgba(255, 255, 255, .75);



// -- RESET --

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

a, button {
	display: block;
	color: inherit;
}

a {
	text-decoration: none;
	background-color: transparent;
	
}

button {
	border: none;
	background: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	cursor: pointer;
	width: 100vw;
	text-align: left;
	font: normal 1em 'Open Sans', sans-serif;
}

//  -- CUSTOM STYLE --

//  -- HEADER & NAVIGATION -- 

body {
	color: $white5;
}

#sitewide-header {
	background-color: $white90;
	position: fixed;
	width: 100vw;
	a:hover, button:hover, a:focus, button:focus {
		background-color: $white95;
		font-weight: 700;
	}
}

#skip-header {
	height: 0;
	overflow: hidden;
}

#skip-header:focus {
	height: inherit;
	padding: .5rem 1rem;
}

#constant-navigation {
	display: flex;
	border-bottom: .1rem solid $white80;
}

#sitewide-logo {
	flex-grow: 2;
}

#toggle-menu button {
	width: inherit;
}

#sitewide-logo a, #toggle-menu button {
	padding: 1rem;
}

#toggled-navigation {
	display: none;
	a, button {
		padding: .5rem 1rem;
		border-bottom: .1rem solid $white80;
	}
}

#submenu-one {
	display: none;
	a {
		padding-left: 2rem;
	}
}

.menu-arrow {
	padding-left: .25rem;
}


// -- MAIN CONTENT --

h1 {
	font-size: 1.476em;
	margin-bottom: .55rem;
}

h2 {
	font-size: 1.383em;
	margin-bottom: .5rem;
}

h3 {
	font-size: 1.296em;
	margin-bottom: .45rem;
}

h4 {
	font-size: 1.215em;
	margin-bottom: .4rem;
}

h5 {
	font-size: 1.138em;
	margin-bottom: .35rem;
}

h6 {
	font-size: 1.067em;
	margin-bottom: .3rem;
}

h1, h2, h3, h4, h5, h6, b {
	font-weight: 700;
}

p, a, button {
	font-size: 1em;
}

main {
	display: block;
	section {
		padding: 0 1rem;
	}
}

.full-viewport {
	height: 100vh;
}

.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.next-section {
	display: inline-block;
	margin-top: 1rem;
	text-align: center;
	background-color: $white90;
	padding: .5rem 1rem;
	border: .1rem solid $white80;
	border-radius: 2rem;
}

.next-section:hover, .next-section:focus {
	background-color: $white95;
	font-weight: 700;
}

.transparent-background {
	padding: 1rem;
	border-radius: 1rem;
	background-color: $whiteTransparent;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#intro-section {
	background-image: url('../images/intro-image.jpeg');
}

#personal-history {
	padding: 4rem 1rem;
}

.section-divider {
	margin-bottom: 3rem;
}

#professional-history {
	background-image: url('../images/professional-image.jpg');
	padding: 4rem 1rem;
		.flex-divider {
			text-align: center;
		}
	}


// -- 855PX MEDIA QUERY -- 

@media only screen and (min-width: 855px) {
	#sitewide-header {
		border-bottom: .1rem solid $white80;
	}

	#toggled-navigation {
		display: inline-block;
		display: flex;
		button {
			width: inherit;
		}
	}

	#navigation-container {
		display: flex;
	}

	#constant-navigation {
		flex-grow: 1;
		border-bottom: none;
	}

	#toggle-menu {
		display: none;
	}

	#toggled-navigation {
	a, button {
		padding: 1rem;
		border-bottom: none;
		}
	}

	// -- MAIN CONTENT @855PX --
	main section {
		padding: 0 7rem;
	}

	#intro-section {
		background-attachment: fixed;
	}

	.flex-divider {
		display: flex;
	}

	.section-divider {
		padding: 0 1rem;
	}

	#personal-history {
		padding: 7rem 0;
	}

	#professional-history {
		padding: 0;
		.flex-divider {
			text-align: center;
			height: 100vh;
			align-items: center;
			.section-divider {
				margin: 1rem;
			}
		}
	}

	.grow-one {
		flex-grow: 1;

	}
}