// -- IMPORT NORMALIZE --

@import "normalize";

// -- VARIABLES --


// -- COLOR --
$white95: #f2f2f2;
$white90: #e6e6e6;
$white80: #cccccc;
$white5: #0d0d0d;
$whiteTransparent: rgba(13, 13, 13, .65);

// -- SPACING --
$standardPadding: 1rem;


// -- CUSTOM RESET --

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

img {vertical-align:bottom}

ul {
	list-style: none;
}

a, button {
	display: block;
	color: inherit;
}

a {
	text-decoration: none;
	background-color: transparent;
	
}

button {
	border: none;
	background: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	cursor: pointer;
	text-align: left;
	font: normal 1em 'Open Sans', sans-serif;
}

// -- FONT STYLE --

h1 {
	font-size: 1.476em;
}

h2 {
	font-size: 1.383em;
}

h3 {
	font-size: 1.296em;
}

h4 {
	font-size: 1.215em;
}

h5 {
	font-size: 1.138em;
}

h6 {
	font-size: 1.067em;
}

h1, h2, h3, h4, h5, h6, b {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	margin: .5rem 0;
}

p, a, button {
	font-size: 1em;
}

// -- REUSABLE CLASSES -- 

.flex-container {
	display: flex;
}

[aria-hidden = "true"] {
	display: none;
}

.background-image {
	background-position: center;
	background-repeat: no-repeat;
}

.transparent-background {
	background-color: $whiteTransparent;
}

.arrow-container {
	text-align: center;
}



//  -- HEADER & NAVIGATION -- 

#sitewide-header {
	background-color: $white90;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	a:hover, button:hover {
		font-weight: 700;
		background-color: $white95;
	}
}

#skip-header {
	height: 0;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

#skip-header:focus {
	height: inherit;
	padding: 1rem;
}

#visable-navigation {
	border-bottom: .1rem solid $white80;
	.flex-container {
		align-items: baseline;
	}
}

#logo-container {
	flex-grow: 1;
	a {
		display: inline-block;
	}
}

#logo-container a, #toggle-navigation {
	padding: $standardPadding;
}

#navigation-list {
	a {
		padding: $standardPadding;
		border-bottom: .1rem solid $white80;
	}
}

// -- MAIN CONTENT --

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

#home-section {
	height: 100vh;
	background-color: $white5;
	background-size: contain;
	background-image: url('../images/kjek-logo.png');
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $white95;
	div {
		border-radius: 1rem;
		padding: $standardPadding;
	}
	p {
		margin-bottom: .5rem;
	}
	a {
		position: absolute;
		bottom: 2rem;
	}
}

#about-me {
	padding: 4rem 1rem;
	background-color: $white95;
	h2 {
		margin: 0 0 1rem 0;
		border-bottom: .1rem solid $white80;
	}
	div {
		text-align: center;
		margin-bottom: 1rem;
	}
	img {
		border-radius: 9rem;
	}
	p {
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}
}

#language-tool {
	padding: 4rem 1rem;
	background-image: url('../images/language-image.jpg');
	background-size: cover;
	color: $white95;
	h3 {
		padding-bottom: .5rem;
		margin-bottom: 1rem;
		border-bottom: .1rem solid $white80;
	}
	li {
		text-align: center;
		margin-bottom: 1rem;
	}
	.transparent-background {
		display: inline-block;
		padding: 2rem;
		border-radius: 1rem;
		border: .1rem solid $white80;
	}
	p {
		margin-top: 1rem;
		
	}
}

//  -- FORM STYLE --

form {
	padding: 1rem;
}

label {
	margin: .5rem 0;
}

label, form input {
	display: block;
}
form input, textarea {
	width: 100%;
}

// -- FOOTER STYLES --

#sitewide-footer {
	background-color: $white90;
	text-align: center;
	padding: 1rem 0;
	li {
		border-bottom: .1rem solid $white80;
		a {
			padding: 1rem 0;
		}
	}
}

// -- 855PX MEDIA QUERY -- 

@media only screen and (min-width: 768px) {

	// -- REUSABLE CLASSES --

	.background-image {
		background-attachment: fixed;
	}

	.desktop-activated {
		display: block;
	}

	.desktop-inactivated {
		display: none;
	}
	
	#home-section {
		background-size: 768px 606px;
		background-image: url('../images/kjek-logo.png');
	}

}
